html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1089ad;
  background: radial-gradient(circle, #1089ad 3%, #1f405c 94%);
}

.lottie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lottie-info .bubbles {
  margin-right: -10rem;
}

.lottie-info .octopus {
  margin-left: -10rem;
}

.speech-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1faddf;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin-top: 3rem;
  margin-left: -13rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.speech-bubble button.conversation {
  color: #d3edf4;
  border: solid 2px;
  background-color: #1e5376;
  border-color: #0e6793 #1e5376 #1e5376 #0e6793;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.speech-bubble button.conversation:hover {
  background-color: #1e5376;
  border-color: #1e5376 #0e6793 #0e6793 #1e5376;
}

.speech-bubble button.conversation:active {
  -webkit-box-shadow: inset 0px 0px 15px rgba(4, 47, 61, 0.9);
          box-shadow: inset 0px 0px 15px rgba(4, 47, 61, 0.9);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.speech-bubble button.conversation:disabled {
  cursor: default;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.speech-bubble:before,
.speech-bubble:after {
  content: "";
  background-color: #1faddf;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.speech-bubble:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  -webkit-box-shadow: -50px 30px 0 -12px #1faddf;
          box-shadow: -50px 30px 0 -12px #1faddf;
}

.speech-bubble:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 40px -34px 0 0 #1faddf, -28px -6px 0 -2px #1faddf, -24px 17px 0 -6px #1faddf, -5px 25px 0 -10px #1faddf;
          box-shadow: 40px -34px 0 0 #1faddf, -28px -6px 0 -2px #1faddf, -24px 17px 0 -6px #1faddf, -5px 25px 0 -10px #1faddf;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: end;
  padding: 2rem;
  margin-right: 5rem;
  color: #82bde4;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #fff;
}

@media only screen and (max-width: 748px) {
  .lottie-info {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */